.surname {
  color: $primaryColor;
}

.hero-body {
  padding: 3rem 3rem;
}

.subtitle {
  span {
    padding-left: 5px;
  }
}

.column {
  .button {
    margin: 5px;
  }
}

.profile-foot {
  padding: 25px 10px 10px 10px;
  margin: 0px 3rem;
  border-top: 2px solid $lightGray;
  min-height: 15vh;

}

.profile-title {
  font-weight: bold;
  font-size: 4rem;
}

.button:hover {
  background-color: white !important;
  border: 2px solid $lightGray !important;
  width: 40px;

  .icon-button {
    color: $primaryColor;
  }
}

.profile-button {
  background-color: $lightGray;
  border-color: $lightGray;
}


.profile-info {
  font-size: 0.8rem;
  color: #888888;
}

.profile-info-title {
  @extend .profile-info;
  font-weight: bold;
}