.surname {
  color: $primaryColor;
}

.hero-body {
  padding: 3rem 3rem;
}

.column {
  .button {
    margin: 5px;
  }
}

.button:hover {
  background-color: $activeColor !important;
  border: 2px solid $veryLightGray !important;
  width: 40px;

  .icon-button {
    color: $primaryColor;
  }
}
