.surname {
  color: $primaryColor;
}

.hero-body {
  padding: 3rem 3rem;
}

.column {
  .button {
    margin: 5px;
  }
}

.button:hover {
  background-color: $activeColor !important;
  border: 2px solid $veryLightGray !important;
  width: 40px;

  .icon-button {
    color: $primaryColor;
  }
}

.timeline-container {
  margin: 2rem 3rem 3rem 3rem;
  border-left: 2px solid $veryLightGray;
  padding-left: 2rem;
  .column {
    padding-top: 0px;
    padding-bottom: 20px;
  }
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $primaryColor;
  position: inherit;
  left: 44px;
  margin-left: -38px;
  box-shadow: 0 0 0 6px #fff;
}

.timeline-startpoint {
  height: 1px;
  width: 16px;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  color: #cccccc;
  left: 41px;
  bottom: 0;
}

.timeline-post {
  line-height: 15px;
  padding-bottom: 40px;
  .column:last-of-type {
    font-size: 13px;
    color: #656565;
    text-align: justify;
  }
}

.time-range {
  font-size: 11px;
  color: #989898;
}

.company-name {
  font-weight: bold;
  padding: 10px 0px;
}

.role {
  font-size: 13px;
  color: #656565;
  padding: 5px 0px;
}

.location {
  font-size: 10px;
  color: #ababab;
}

.description {
  padding-top: 20px !important;
}

.subtitle {
  padding: 10px 0px 0px 15px;
}

#education .subtitle:first-of-type {
  padding-top: 20px;
}

.section {
  padding: 2rem 1.5rem;
}
