$blue: #005691;
$gray:#ffffff78;
$lightGray: #eaeaea;
$lightestGray: #f3f3f3;
$white:white;

$primaryColor: $blue;
$secondaryColor:$lightestGray;
$terciaryColor:$white;

$activeColor: $white;
$inactiveColor:$gray;