@import "bulma";
@import "~bulma-tooltip";

@import "../../node_modules/bulma/sass/utilities/_all.sass";

// the import below of everything from bulma is temporary
@import "../../node_modules/bulma/bulma.sass";

@import "./variables";
@import "./menu";
@import "./languageMenu";
@import "./pages";
@import "./intro";
@import "./skills";

// mixins
body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
}

/* pages classes */

.page-content {
  display: flex;
  flex-direction: column;
  padding-left: 16vw;
  width: 100%;
}

.block {
  min-height: 100vh;
}

@media (max-width: 799px) {
  .page-content {
    padding-left: 0px;
  }

  .app {
    flex-direction: column;
  }
}