body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
}

/* pages classes */

.page-content {
  display: flex;
  flex-direction: column;
  padding-left: 20vw;
  width: 100%;
}

.block {
  height: 100vh;
}

@media (max-width: 799px) {
  .page-content {
    padding-left: 0px;
  }
  .app {
    flex-direction: column;
  }
}

.first-block {
  background-color: #fcfcfc;
}
.second-block {
  background-color: #ffffff;
}
.third-block {
  background-color: #fcfcfc;
}
.fourth-block {
  background-color: #ffffff;
}
.fifth-block {
  background-color: #fcfcfc;
}

/* menu classes*/

.menu-vertical {
  background-color: #005691;
  position: fixed;
  min-width: 150px;
  max-width: 260px;
  width: 20vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu-horizontal {
  background-color: #005691;
  height: 40px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px 5px 15px;
  text-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
}

.menu-horizontal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-horizontal-open {
  height: auto !important;
  flex-direction: column !important;
  text-align: start !important;
  align-items: unset !important;
}

.profile-image {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
  border-radius: 50% !important;
  margin: 25px 0px;
  width: 100%;
  height: auto;
}

.dropdown-menu-button {
  cursor: pointer;
  color: #ffffff78;
  border: 1px solid #ffffff7a;
  border-radius: 5px;
  padding: 2px;
}

.dropdown-menu-button:hover {
  cursor: pointer;
  color: #ffffffd4;
}

/* menu item css classes */

.active {
  color: white;
  font-weight: bold;
}

.active:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.inactive {
  color: #ffffff78;
}

.inactive:hover {
  color: white;
  text-decoration: none;
}

.menu-item {
  margin: 4px;
}
